<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="kurento-one2one" version="1.1.3a4">
    <details>
        <title>Kurento - One2One</title>
        <authors>Jaime Pajuelo &lt;jpajuelo@conwet.com&gt;, Braulio Grana &lt;bgrana@conwet.com&gt;, Iris Muñoz &lt;imunoz@conwet.com&gt;</authors>
        <contributors>Alvaro Arranz &lt;aaranz@conwet.com&gt;, Miguel Garcia Lafuente &lt;mgarcia@conwet.com&gt;</contributors>
        <email>wirecloud@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage>images/webrtc.png</smartphoneimage>
        <description>A widget for making videoconferences using Kurento</description>
        <homepage>https://github.com/wirecloud-fiware/kurento-one2one-widget</homepage>
        <issuetracker>https://github.com/wirecloud-fiware/kurento-one2one-widget/issues</issuetracker>
        <doc>doc/index.md</doc>
	<changelog>doc/changelog.md</changelog>
    </details>
    <requirements>
      <feature name="FullscreenWidget"/>
    </requirements>
    <preferences>
        <preference name="server-url" label="Server URL" description="URL of one2one server" type="text" default="wss://wirecloudkurento.lab.fiware.org/call" />
        <preference name="stand-alone" label="Standalone" description="Allow choose the user for calling" type="boolean" default="true" />
    </preferences>
    <wiring>
        <inputendpoint name="user-id" type="text" label="User Id" description="Receive a user id with no action" friendcode="participant-name" />
        <inputendpoint name="call-user" type="text" label="Call user" description="Calls the user received" friendcode="participant-name" />
        <inputendpoint name="hangup-user" type="text" label="Hang up user" description="Hang up the user received" friendcode="participant-name" />
        <outputendpoint name="call-state" type="text" label="Call state" description="Sends the current state of the call" friendcode="call-state" />
    </wiring>
    <contents src="index.html"/>
    <rendering width="10" height="8"/>
</widget>
