<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="kurento-one2one" version="1.1.0">
    <details>
        <title>Kurento - One2One</title>
        <authors>Jaime Pajuelo &lt;jpajuelo@conwet.com&gt;</authors>
        <email>wirecloud@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage>images/webrtc.png</smartphoneimage>
        <description>A widget for making videoconferences using Kurento</description>
        <homepage>https://github.com/wirecloud-fiware/widget-one2one-call</homepage>
        <doc>doc/index.md</doc>
    </details>
    <preferences>
        <preference name="server-url" label="Server URL" description="URL of one2one server" type="text" default="ws://130.206.81.33:8080/call" />
        <preference name="stand-alone" label="Standalone" description="Allow choose the user for calling" type="boolean" default="true" />
    </preferences>
    <wiring>
        <inputendpoint name="call-user" type="text" label="Call user" description="Calls the user received" friendcode="participant-name" />
        <inputendpoint name="hangup-user" type="text" label="Hang up user" description="Hang up the user received" friendcode="participant-name" />
        <outputendpoint name="call-status" type="text" label="Call status" description="Sends the current status of the call" friendcode="call-status" />
    </wiring>
    <contents src="index.html"/>
    <rendering width="6" height="14"/>
</widget>
